
@import "../treed/rx/views/tree/index.less";
@import "../treed/rx/views/body/simple.less";
@import "../treed/rx/plugins/collapse/index.less";
@import "../treed/rx/plugins/rebase/index.less";
@import "../treed/rx/plugins/done/index.less";

@import "../treed/rx/skins/regular/index.less";

@import "./lib/treed-plugin.less";

@import (inline) "./node_modules/highlight.js/styles/docco.css";

h1 {
  font-family: sans-serif;
}

body {
  padding: 10px 100px 100px;
}

.list_item_children {
  border-left: 5px solid #eee;

  .list_item-root > & {
    border-left: none;
  }
}

.treed_body_rendered {
  min-height: 30px;
  background-color: rgba(255,255,255,.7);
  padding-top: 5px;

  h1, h2 {
    font-weight: normal;
  }
}

.treed_body {
  margin-bottom: 5px;
}

.treed_body-type-ipython {
  margin-bottom: 5px;

  > * {
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    box-shadow: 1px 1px 4px #dadada inset;
    margin: 0 0 0 5px;
    background-color: white;
    font-family: monospace;
    font-size: 14px;
  }
  > .treed_body_rendered {
    padding: 5px 10px;
  }
  > .textarea-grow {
    padding: 2px 3px;
  }
  > .textarea-grow textarea,
  > .textarea-grow .shadow {
    min-height: 24px;
    font-family: monospace;
    font-size: 14px;
    padding-top: 3px;
  }
}
