
.ObjViewer {
  font-family: monospace;
}

.ObjViewer_head {
  cursor: pointer;
}

.ObjViewer_name {
  font-weight: bold;
  color: rgb(0, 51, 129);
  text-shadow: 1px 1px 2px rgb(43, 93, 169);
}

.ObjViewer_smallprops {
  font-size: 80%;
}

.ObjViewer_prop:hover > td {
  background-color: rgba(0,0,0,.1);
}

.ObjViewer_props {
  border-collapse: collapse;
  cursor: default;

  td {
    vertical-align: top;
  }
}

