
.Browse {
  max-width: 500px;
  margin: 100px auto;
  box-shadow: 0 0 5px #888;
  padding: 30px;
  width: 400px;
  font-family: sans-serif;
}

.NewFile_head,
.Browse_head {
  text-align: center;
  margin-top: 0;
}

.Browse_files {
  padding: 0;
  margin: 20px 0;
  list-style: none;
  max-height: 240px;
  overflow: auto;
}

.Browse_file {
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;

  &:hover {
    background-color: #eee;
  }
}

.Browse_nofiles {
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  color: #999;
}

.Browse_repl {
  float: right;

  &-null {
    display: none;
  }

  /*
  &-go {
    &:before {
      content: 'go';
    }
  }

  &-rust {
    &:before {
      content: 'rust';
    }
  }

  &-ipython {
    &:before {
      content: 'ipython';
    }
  }

  &-gorilla {
    &:before {
      content: 'gorilla';
    }
  }

  &-ijs {
    &:before {
      content: 'javascript';
    }
  }
  */

}

.NewFile_head {
  margin: 0;
}

.Browse_config_repls,
.NewFile_repls {
  padding: 0;
  margin: 10px 0;
  list-style: none;
}

.Browse_config_repl,
.NewFile_repl {
  padding: 5px 10px;
  border: 1px solid transparent;
  display: inline-block;
  cursor: pointer;

  &-selected {
    border-color: #aaa;
  }

  &:hover {
    background-color: #eee;
  }
}

.NewFile_title {
  font-size: 16px;
  padding: 5px 10px;
  margin: 10px 0 0;
  border: 1px solid #ccc;
}

.NewFile_submit {
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px 10px;
  font-size: 16px;
  margin-left: 5px;
  cursor: pointer;
}

.Modal {
	z-index: 10011;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 200px;
	margin: -100px 0 0 -150px;
	border: 1px solid #eee;
	box-shadow: 0 0 10px black;
	padding: 10px;
	background: white;
}

